<mat-card class="example-card">
    <mat-card-header>
        <div class="example-header-image" mat-card-avatar [ngStyle]="{'background-image': 'url(' + avatar + ')'}">
        </div>
        <mat-card-title>{{ League.NameLeague }}</mat-card-title>
        <mat-card-subtitle> {{ League.Description }} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-6">Rate (by players)</div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6">Fans like</div>
            <div class="col-6"> {{League.Like}} </div>
        </div>
        <div class="row">
            <div class="col-6">Rate (by players)</div>
            <div class="col-6"></div>
        </div>
    </mat-card-content>
    <div class="row">
        <div class="col-12 text-center">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="bi bi-facebook"></i></button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="bi bi-instagram"></i></button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="bi bi-whatsapp"></i></button>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"><i class="bi bi-envelope"></i></button>
        </div>
    </div>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>