<div class="container">
  <div class="title">This is uz</div>
  <div class="content">
    <div class="text">
      Creemos en un mundo donde el deporte nos una, haciendo una mejor sociedad.
      <br/>
      <br/>
      Generando disciplina y diversión, competencia y hermandad, un mundo donde el deporte nos haga mejores.
    </div>
    <div class="profile-container">
      <div class="profile">
        <div class="photo"></div>
        <div class="name">Ulises</div>
      </div>
      <div class="profile">
        <div class="photo"></div>
        <div class="name">Zama</div>
      </div>
    </div>
  </div>
</div>
