<div class="container">
  <div>
    <ul *ngFor="let s of score">
      <li>{{ s.teamName }}</li>
    </ul>
  </div>
  <p class="team">Equipo</p>
  <div class="faults-container">
    <button class="fault-button">Foul</button>
    <div class="faults-counter">
      <div class="fault">X</div>
      <div class="fault"></div>
      <div class="fault"></div>
      <div class="fault"></div>
      <div class="fault"></div>
    </div>
  </div>
  <div class="points-container">
    <p>Puntos:</p>
    <div class="points-buttons-container">
      <button class="points-button">+1</button>
      <button class="points-button">+2</button>
      <button class="points-button">+3</button>
    </div>
  </div>
</div>
