<div class="container">
  <app-team-score></app-team-score>
  <div class="central-board">
    <div class="score-container">
      <div class="score">{{ totalScore1 }}</div>
      <div class="score">{{ totalScore2 }}</div>
    </div>
    <div class="quarter-container">
      <div>cuarto:</div>
      <div>{{ 1 }}</div>
    </div>
    <button class="button">Finalizar</button>
    <div class="clock">01:28</div>
    <div class="timer">24</div>
  </div>
  <app-team-score></app-team-score>
</div>
<app-title></app-title>
