<div class="container">
  <app-team-score [idScore]="'kX5RIatU4DBCmaX5YV27'"></app-team-score>
  <div class="central-board">
    <div class="score-container">
      <div class="score">{{ totalScore1 }}</div>
      <div class="score">{{ totalScore2 }}</div>
    </div>
    <div class="quarter-container">
      <div>cuarto:</div>
      <div>{{ 1 }}</div>
    </div>
    <button class="button">Finalizar</button>
    <div class="clock" (click)="toggleTimer()">
      {{ timerDisplay.minutes.digit1 }}{{ timerDisplay.minutes.digit2 }}:{{
        timerDisplay.seconds.digit1
      }}{{ timerDisplay.seconds.digit2 }}
    </div>
    <div class="timer" (click)="resetShotTimer()">{{ shotTimer }}</div>
  </div>
  <app-team-score [idScore]="'5Kxt5LnIAoZuemBR5Wio'"></app-team-score>
</div>
<app-title></app-title>
