<div class="card">
    <h4 class="card-header">Registro</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Número</label>
                    <input type="number" min="1" max="30" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Posición</label>
                    <select name="select">
                        <option value="value1">1</option>
                        <option value="value2" selected>2</option>
                        <option value="value3">3</option>
                      </select>
                    <!-- <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && errors }" /> -->
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Username is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Equipo</label>
                <select name="select">
                    <option value="value1">1</option>
                    <option value="value2" selected>2</option>
                    <option value="value3">3</option>
                  </select>
                <div *ngIf="submitted && errors" class="invalid-feedback">
                    <div *ngIf="errors">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Foto</label>
                <!-- <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && errors }" /> -->
                    <input formControlName="lastName" type="file" id="myFile" name="filename">
                <div *ngIf="submitted && errors" class="invalid-feedback">
                    <div *ngIf="errors">Last Name is required</div>
                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Cumpleaños</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            <div class="form-group">
                <label for="lastName">Dirección</label>
                <input type="text" formControlName="lastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && errors }" />
                <div *ngIf="submitted && errors" class="invalid-feedback">
                    <div *ngIf="errors">Last Name is required</div>
                </div>
            </div>
            <div class="row">

                <div class="form-group">
                    <label for="username">Correo</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Teléfono</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Facebook</label>
                    <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Username is required</div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Password is required</div>
                        <div *ngIf="errors">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Confirma Contraseña</label>
                    <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && errors }" />
                    <div *ngIf="submitted && errors" class="invalid-feedback">
                        <div *ngIf="errors">Password is required</div>
                        <div *ngIf="errors">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                </button>
                <a routerLink="/" (click)="goToHome()" class="btn btn-link">Cancel</a>
            </div>

        </form>
    </div>
</div>