<a routerLink="/first-component" routerLinkActive="active">First Component</a>
<img
  class="fondo"
  src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/cae4cd29911239.560a4d0f5e2ad.jpg"
  alt="fondo"
/>
<app-social-bar></app-social-bar>
<app-title></app-title>
<app-navbar [pages]="pages"></app-navbar>
<app-main-links></app-main-links>
<div class="spacer"></div>
<app-leagues-bar [leagues]="leagues"></app-leagues-bar>
<app-news-bar [news]="news"></app-news-bar>
<app-galery-bar [leagues]="leagues"></app-galery-bar>
<app-thisisuz></app-thisisuz>
