<div class="row">
    <div class="col-2 text-center">
        Thunder
    </div>
    <div class="col-8 text-center">
        <div>
            {{ pointsTeam1 }} - {{ pointsTeam2 }}
        </div>
        <div>
            {{ QuarterTime}} Quarter Time
        </div>
    </div>
    <div class="col-2 text-center">
        Lakers
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        Fouls
    </div>
    <div class="col-6 text-center">
        Fouls
    </div>
</div>

<div class="row">
    <div class="col-6 text-center">
        <app-count-foul *ngFor="let f1 of foulsTeam1"></app-count-foul>
    </div>
    <div class="col-6 text-center">
        <app-count-foul *ngFor="let f1 of foulsTeam2"></app-count-foul>
    </div>
</div>